.blog-category {

}

.blog-category:before {
    content: "";
    display: none !important;
}

.image-spaced {
    margin-top: 15px;
}

.hidden-row {
    display: none !important;
}


.e-toast-container .e-toast.e-toast-danger {
    margin-right: 100px;
}

.ql-toolbar.ql-snow + .ql-container.ql-snow {
    height: 300px;
}

.top-m-40 {
    margin-top: 40px !important;
}

.top-m-20 {
    margin-top: 20px !important;
}

.top-m-5 {
    margin-top: 8px !important;
}
